In [3]:
import pandas as pd

# Load & Inspect

In [4]:
# Load the dataset
df = pd.read_csv(r"C:\Users\USER\Documents\CPEN -L300\PRESENT\2ND SEM\SENG 316 AI\Project\rideshare_kaggle.csv")

In [5]:
# Shape and basic info
print("Shape:", df.shape)
print("\nColumns:", df.columns.tolist())

Shape: (693071, 57)

Columns: ['id', 'timestamp', 'hour', 'day', 'month', 'datetime', 'timezone', 'source', 'destination', 'cab_type', 'product_id', 'name', 'price', 'distance', 'surge_multiplier', 'latitude', 'longitude', 'temperature', 'apparentTemperature', 'short_summary', 'long_summary', 'precipIntensity', 'precipProbability', 'humidity', 'windSpeed', 'windGust', 'windGustTime', 'visibility', 'temperatureHigh', 'temperatureHighTime', 'temperatureLow', 'temperatureLowTime', 'apparentTemperatureHigh', 'apparentTemperatureHighTime', 'apparentTemperatureLow', 'apparentTemperatureLowTime', 'icon', 'dewPoint', 'pressure', 'windBearing', 'cloudCover', 'uvIndex', 'visibility.1', 'ozone', 'sunriseTime', 'sunsetTime', 'moonPhase', 'precipIntensityMax', 'uvIndexTime', 'temperatureMin', 'temperatureMinTime', 'temperatureMax', 'temperatureMaxTime', 'apparentTemperatureMin', 'apparentTemperatureMinTime', 'apparentTemperatureMax', 'apparentTemperatureMaxTime']

In [6]:
# Preview data
print("\nFirst 5 rows:")
print(df.head())

First 5 rows:
                                     id     timestamp  hour  day  month  \
0  424553bb-7174-41ea-aeb4-fe06d4f4b9d7  1.544953e+09     9   16     12
1  4bd23055-6827-41c6-b23b-3c491f24e74d  1.543284e+09     2   27     11
2  981a3613-77af-4620-a42a-0c0866077d1e  1.543367e+09     1   28     11
3  c2d88af2-d278-4bfd-a8d0-29ca77cc5512  1.543554e+09     4   30     11
4  e0126e1f-8ca9-4f2e-82b3-50505a09db9a  1.543463e+09     3   29     11

              datetime          timezone            source    destination  \
0  2018-12-16 09:30:07  America/New_York  Haymarket Square  North Station
1  2018-11-27 02:00:23  America/New_York  Haymarket Square  North Station
2  2018-11-28 01:00:22  America/New_York  Haymarket Square  North Station
3  2018-11-30 04:53:02  America/New_York  Haymarket Square  North Station
4  2018-11-29 03:49:20  America/New_York  Haymarket Square  North Station

  cab_type  ... precipIntensityMax uvIndexTime  temperatureMin  \
0     Lyft  ...             0.1276  1544979600           39.89
1     Lyft  ...             0.1300  1543251600           40.49
2     Lyft  ...             0.1064  1543338000           35.36
3     Lyft  ...             0.0000  1543507200           34.67
4     Lyft  ...             0.0001  1543420800           33.10

   temperatureMinTime  temperatureMax  temperatureMaxTime  \
0          1545012000           43.68          1544968800
1          1543233600           47.30          1543251600
2          1543377600           47.55          1543320000
3          1543550400           45.03          1543510800
4          1543402800           42.18          1543420800

   apparentTemperatureMin  apparentTemperatureMinTime  apparentTemperatureMax  \
0                   33.73                  1545012000                   38.07
1                   36.20                  1543291200                   43.92
2                   31.04                  1543377600                   44.12
3                   30.30                  1543550400                   38.53
4                   29.11                  1543392000                   35.75

  apparentTemperatureMaxTime
0                 1544958000
1                 1543251600
2                 1543320000
3                 1543510800
4                 1543420800

[5 rows x 57 columns]

In [7]:
# Check missing values
print("\nMissing values per column:")
print(df.isnull().sum())

Missing values per column:
id                                 0
timestamp                          0
hour                               0
day                                0
month                              0
datetime                           0
timezone                           0
source                             0
destination                        0
cab_type                           0
product_id                         0
name                               0
price                          55095
distance                           0
surge_multiplier                   0
latitude                           0
longitude                          0
temperature                        0
apparentTemperature                0
short_summary                      0
long_summary                       0
precipIntensity                    0
precipProbability                  0
humidity                           0
windSpeed                          0
windGust                           0
windGustTime                       0
visibility                         0
temperatureHigh                    0
temperatureHighTime                0
temperatureLow                     0
temperatureLowTime                 0
apparentTemperatureHigh            0
apparentTemperatureHighTime        0
apparentTemperatureLow             0
apparentTemperatureLowTime         0
icon                               0
dewPoint                           0
pressure                           0
windBearing                        0
cloudCover                         0
uvIndex                            0
visibility.1                       0
ozone                              0
sunriseTime                        0
sunsetTime                         0
moonPhase                          0
precipIntensityMax                 0
uvIndexTime                        0
temperatureMin                     0
temperatureMinTime                 0
temperatureMax                     0
temperatureMaxTime                 0
apparentTemperatureMin             0
apparentTemperatureMinTime         0
apparentTemperatureMax             0
apparentTemperatureMaxTime         0
dtype: int64

# Remove Missing Prices & Check Duplicates

In [8]:
# Remove rows where price is missing
df = df.dropna(subset=['price'])

In [9]:
# Check shape after removal
print("Shape after removing missing prices:", df.shape)

Shape after removing missing prices: (637976, 57)

In [10]:
# Check duplicates
duplicates = df.duplicated().sum()
print("Number of duplicate rows:", duplicates)

Number of duplicate rows: 0

In [11]:
# Remove duplicates if any
df = df.drop_duplicates()
print("Shape after removing duplicates:", df.shape)

Shape after removing duplicates: (637976, 57)

# Quick Categorical & Numerical Overview

In [12]:
# Categorical features
categorical_cols = df.select_dtypes(include=['object']).columns
print("\nCategorical columns:", categorical_cols.tolist())

Categorical columns: ['id', 'datetime', 'timezone', 'source', 'destination', 'cab_type', 'product_id', 'name', 'short_summary', 'long_summary', 'icon']

In [13]:
# Unique values in key categorical columns
for col in ['cab_type', 'name', 'source', 'destination']:
    print(f"\n{col} unique values:")
    print(df[col].unique())

cab_type unique values:
['Lyft' 'Uber']

name unique values:
['Shared' 'Lux' 'Lyft' 'Lux Black XL' 'Lyft XL' 'Lux Black' 'UberXL'
 'Black' 'UberX' 'WAV' 'Black SUV' 'UberPool']

source unique values:
['Haymarket Square' 'Back Bay' 'North End' 'North Station' 'Beacon Hill'
 'Boston University' 'Fenway' 'South Station' 'Theatre District'
 'West End' 'Financial District' 'Northeastern University']

destination unique values:
['North Station' 'Northeastern University' 'West End' 'Haymarket Square'
 'South Station' 'Fenway' 'Theatre District' 'Beacon Hill' 'Back Bay'
 'North End' 'Financial District' 'Boston University']

In [14]:
# Numerical features
numerical_cols = df.select_dtypes(include=['int64', 'float64']).columns
print("\nNumerical columns:", numerical_cols.tolist())

Numerical columns: ['timestamp', 'hour', 'day', 'month', 'price', 'distance', 'surge_multiplier', 'latitude', 'longitude', 'temperature', 'apparentTemperature', 'precipIntensity', 'precipProbability', 'humidity', 'windSpeed', 'windGust', 'windGustTime', 'visibility', 'temperatureHigh', 'temperatureHighTime', 'temperatureLow', 'temperatureLowTime', 'apparentTemperatureHigh', 'apparentTemperatureHighTime', 'apparentTemperatureLow', 'apparentTemperatureLowTime', 'dewPoint', 'pressure', 'windBearing', 'cloudCover', 'uvIndex', 'visibility.1', 'ozone', 'sunriseTime', 'sunsetTime', 'moonPhase', 'precipIntensityMax', 'uvIndexTime', 'temperatureMin', 'temperatureMinTime', 'temperatureMax', 'temperatureMaxTime', 'apparentTemperatureMin', 'apparentTemperatureMinTime', 'apparentTemperatureMax', 'apparentTemperatureMaxTime']

In [15]:
# Basic stats
print("\nNumerical feature stats:")
print(df[numerical_cols].describe())

Numerical feature stats:
          timestamp           hour            day          month  \
count  6.379760e+05  637976.000000  637976.000000  637976.000000
mean   1.544046e+09      11.618528      17.797674      11.586550
std    6.892028e+05       6.948776       9.982083       0.492452
min    1.543204e+09       0.000000       1.000000      11.000000
25%    1.543444e+09       6.000000      13.000000      11.000000
50%    1.543737e+09      12.000000      17.000000      12.000000
75%    1.544828e+09      18.000000      28.000000      12.000000
max    1.545161e+09      23.000000      30.000000      12.000000

               price       distance  surge_multiplier       latitude  \
count  637976.000000  637976.000000     637976.000000  637976.000000
mean       16.545125       2.189261          1.015068      42.338161
std         9.324359       1.135413          0.095422       0.047856
min         2.500000       0.020000          1.000000      42.214800
25%         9.000000       1.270000          1.000000      42.350300
50%        13.500000       2.160000          1.000000      42.351900
75%        22.500000       2.930000          1.000000      42.364700
max        97.500000       7.860000          3.000000      42.366100

           longitude    temperature  ...  precipIntensityMax   uvIndexTime  \
count  637976.000000  637976.000000  ...       637976.000000  6.379760e+05
mean      -71.066144      39.582406  ...            0.037369  1.544044e+09
std         0.020303       6.725500  ...            0.055216  6.912268e+05
min       -71.105400      18.910000  ...            0.000000  1.543162e+09
25%       -71.081000      36.450000  ...            0.000000  1.543421e+09
50%       -71.063100      40.490000  ...            0.000400  1.543770e+09
75%       -71.054200      43.580000  ...            0.091600  1.544807e+09
max       -71.033000      57.220000  ...            0.145900  1.545152e+09

       temperatureMin  temperatureMinTime  temperatureMax  temperatureMaxTime  \
count   637976.000000        6.379760e+05   637976.000000        6.379760e+05
mean        33.456171        1.544042e+09       45.259945        1.544047e+09
std          6.466349        6.902087e+05        5.644414        6.901597e+05
min         15.630000        1.543122e+09       33.510000        1.543154e+09
25%         30.170000        1.543399e+09       42.570000        1.543439e+09
50%         34.240000        1.543727e+09       44.660000        1.543788e+09
75%         38.880000        1.544789e+09       46.910000        1.544814e+09
max         43.100000        1.545192e+09       57.870000        1.545109e+09

       apparentTemperatureMin  apparentTemperatureMinTime  \
count           637976.000000                6.379760e+05
mean                29.729028                1.544048e+09
std                  7.109907                6.872011e+05
min                 11.810000                1.543136e+09
25%                 27.760000                1.543399e+09
50%                 30.130000                1.543745e+09
75%                 35.710000                1.544789e+09
max                 40.050000                1.545134e+09

       apparentTemperatureMax  apparentTemperatureMaxTime
count           637976.000000                6.379760e+05
mean                41.995876                1.544048e+09
std                  6.935538                6.911036e+05
min                 28.950000                1.543187e+09
25%                 36.570000                1.543439e+09
50%                 40.950000                1.543788e+09
75%                 44.120000                1.544818e+09
max                 57.200000                1.545109e+09

[8 rows x 46 columns]

# Feature Engineering

In [16]:
# Convert datetime column to proper datetime type
df['datetime'] = pd.to_datetime(df['datetime'], errors='coerce')

In [17]:

# Extract day of week (0 = Monday, 6 = Sunday)
df['day_of_week'] = df['datetime'].dt.dayofweek

In [18]:
# Flag weekends
df['is_weekend'] = df['day_of_week'].apply(lambda x: 1 if x >= 5 else 0)

In [19]:
# Create route feature (source-destination pair)
df['route'] = df['source'] + "_to_" + df['destination']

In [20]:
# Surge effect feature
df['surge_effect'] = df['distance'] * df['surge_multiplier']

In [21]:
# Simplify weather conditions from icon column
def simplify_weather(icon):
    if pd.isna(icon):
        return "unknown"
    if "rain" in icon.lower():
        return "rainy"
    if "clear" in icon.lower():
        return "clear"
    if "cloud" in icon.lower():
        return "cloudy"
    return "other"
df['weather_simple'] = df['icon'].apply(simplify_weather)

df[['day_of_week', 'is_weekend', 'route', 'surge_effect', 'weather_simple']].head()

,day_of_week,is_weekend,route,surge_effect,weather_simple
0,6,1,Haymarket Square_to_North Station,0.44,cloudy
1,1,0,Haymarket Square_to_North Station,0.44,rainy
2,2,0,Haymarket Square_to_North Station,0.44,clear
3,4,0,Haymarket Square_to_North Station,0.44,clear
4,3,0,Haymarket Square_to_North Station,0.44,cloudy

In [22]:
# One-hot encode small category sets
df = pd.get_dummies(df, columns=['cab_type', 'name', 'weather_simple'], drop_first=True)

In [23]:
# Label encode large category sets
from sklearn.calibration import LabelEncoder


label_cols = ['source', 'destination', 'route', 'icon', 'short_summary', 'long_summary']
le = LabelEncoder()
for col in label_cols:
    df[col] = le.fit_transform(df[col])

df.head()

,id,timestamp,hour,day,month,datetime,timezone,source,destination,product_id,...,name_Lyft,name_Lyft XL,name_Shared,name_UberPool,name_UberX,name_UberXL,name_WAV,weather_simple_cloudy,weather_simple_other,weather_simple_rainy
0,424553bb-7174-41ea-aeb4-fe06d4f4b9d7,1.544953e+09,9,16,12,2018-12-16 09:30:07,America/New_York,5,7,lyft_line,...,False,False,True,False,False,False,False,True,False,False
1,4bd23055-6827-41c6-b23b-3c491f24e74d,1.543284e+09,2,27,11,2018-11-27 02:00:23,America/New_York,5,7,lyft_premier,...,False,False,False,False,False,False,False,False,False,True
2,981a3613-77af-4620-a42a-0c0866077d1e,1.543367e+09,1,28,11,2018-11-28 01:00:22,America/New_York,5,7,lyft,...,True,False,False,False,False,False,False,False,False,False
3,c2d88af2-d278-4bfd-a8d0-29ca77cc5512,1.543554e+09,4,30,11,2018-11-30 04:53:02,America/New_York,5,7,lyft_luxsuv,...,False,False,False,False,False,False,False,False,False,False
4,e0126e1f-8ca9-4f2e-82b3-50505a09db9a,1.543463e+09,3,29,11,2018-11-29 03:49:20,America/New_York,5,7,lyft_plus,...,False,True,False,False,False,False,False,True,False,False

In [25]:
# Save the final cleaned dataset
output_path = r"C:\Users\USER\Documents\CPEN -L300\PRESENT\2ND SEM\SENG 316 AI\Project\rideshare_cleaned.csv"
df.to_csv(output_path, index=False)

print(f"✅ Data preprocessing complete. Cleaned file saved to: {output_path}")
print("Final shape:", df.shape)

✅ Data preprocessing complete. Cleaned file saved to: C:\Users\USER\Documents\CPEN -L300\PRESENT\2ND SEM\SENG 316 AI\Project\rideshare_cleaned.csv
Final shape: (637976, 74)